.title{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 142.6%;
display: flex;
align-items: flex-end;
color: #FF6060;
}

.location{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
display: flex;
align-items: flex-end;
color: #FF6060;
}