.host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;

  &__name {
    max-width: 100px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
    margin-right: 5px;
  }

  &__picFrame {
    width: 64px;
    min-width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 10em;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__picture{
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}