.header {
  margin: 40px auto;
  height: 68px;
  width: 1240px;
  display: flex;
  justify-content: space-between;
}

.mainNav{
  width: 310px;
  display: flex;
  justify-content: space-between;
}

.mainNav-link{

font-family: Montserrat;
text-decoration: none;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
display: flex;
align-items: flex-end;
text-align: right;
color: #FF6060;
}

.mainNav-link:hover{
text-decoration: underline;
text-underline-offset: 5px;
}


