.welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  @media screen and (max-width:768px) {
    height: 60vh;
  }
  &__text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 200%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FF6060;
    @media screen and (max-width:768px) {
      font-size: 96px;
    }
  }
  &__link {
    font-family: Montserrat;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 36px;
    // line-height: 100%;
    display: flex;
    align-items: flex-end;
    // text-decoration-line: underline;
    color: #FF6060;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }
}