.arrow{
  &__left {
    font-size: 100px;
    color: white;
    z-index: 1;
    @media screen and (max-width:768px) {
      font-size: 50px;
    }
    @media screen and (max-width:376px) {
      font-size: 25px;
    }
  }
  &__right{
    font-size: 100px;
    color: white;
    z-index: 1;
    @media screen and (max-width:768px) {
      font-size: 50px;
    }
    @media screen and (max-width:376px) {
      font-size: 25px;
    }
  }
}

.slide-arrow{

  &__left{
    margin-right: -70px;
    z-index: 1;
    @media screen and (max-width:376px) {
      margin-right: -30px;
    }
    &:hover{
      cursor: pointer;
    }
  }
  &__right{
    margin-left: -70px;
    z-index: 1;
    @media screen and (max-width:376px) {
      margin-left: -30px;
    }
    &:hover{
      cursor: pointer;
    }
  }
}