.gallery{
  max-width: 1240px;
  width: 100%;
  height: fit-content;
  background: #F7F7F7;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
   flex-wrap: wrap;
   margin-bottom: 50px;
}