.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
  height: 415px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: normal;
  border-radius: 25px;

  &__image {
    object-fit: cover;
    object-position: center;
  }

  &__index {
    position: absolute;
    left: 48.95%;
    right: 49.11%;
    top: 71%;
    bottom: 25%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
  }
}