.banner {
  position: relative;
  max-width: 1240px;
  width: 100%;
  height: 223px;
  margin: 40px auto;
  z-index: 0;
  @media screen and (max-width:768px) {
    height: 227px;
    margin: 20px auto;
  }

  @media screen and (max-width:376px) {
    width: 335px;
    height: 111px;
    margin: 10px auto;
  }
  @media screen and (max-width:320px) {
    max-width: 300px;
    margin: 10px auto 20px auto;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    background: #F7F7F7;
    border-radius: 25px;
    max-width: 1240px;
    width: 100%;
    height: 223px;
    z-index: 0;

    @media screen and (max-width:768px) {
      height: 227px;
      object-fit: cover;
      object-position: top;
    }
    @media screen and (max-width:376px) {
      height: 111px;
      object-fit: cover;
      object-position: top;
    }
  }

  &__title {
    position: absolute;
    left: 275px;
    top: 80px;
    height: fit-content;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    z-index: 2;

    @media screen and (max-width:768px) {
      width: 70%;
      top: 70px;
      left: 25px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;

    }
    @media screen and (max-width:376px) {
      width: 217px;
      top: 31px;
      left: 16px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      align-items: flex-end;

    }
  }

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 1240px;
    width: 100%;
    height: 223px;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;
    z-index: 1;

    @media screen and (max-width:768px) {
      height: 227px;
    }
    
    @media screen and (max-width:376px) {
      height: 111px;
    }
  }
}